.bw-attribution * {
  text-shadow: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  float: none;
}

.bw-attribution {
  position: fixed;
  bottom: 3em;
  right: 0;
  font-size: 10px !important;
  z-index: 1;
}

.bw-ribbon {
  background: #808080;
}

.bw-ribbon:before {
  content: "";
  position: absolute;
  border: 1.5em solid #666666;
  border-left-color: transparent;
  z-index: -1;
  top: -0.5em;
  left: -2em;
}

.bw-ribbon .ribbon-content {
  overflow: hidden;
  height: 3em;
  max-width: 144px;
  -webkit-transition: max-width .5s ease;
  transition: max-width .5s ease;
}

.bw-ribbon .ribbon-content:hover {
  max-width: 234px;
}

.bw-ribbon .ribbon-content:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent transparent #5A5A5A transparent;
  border-width: 0 0 0.5em 1em;
  top: -0.5em;
  left: 0;
}

.bw-ribbon .ribbon-content a, .bw-ribbon .ribbon-content img {
  float: left;
  display: inline-block;
  height: 3em;
  width: 3em;
}

.bw-ribbon .ribbon-content .bw-github {
  background: #4183C5 url(http://d2xzi4fir1vmdf.cloudfront.net/octocat.png) no-repeat center;
}

.bw-ribbon .ribbon-content .bw-logo {
  background: #BEB631 url(http://d2xzi4fir1vmdf.cloudfront.net/bw-logo.png) no-repeat center;
}

.bw-ribbon .ribbon-content .bw-made {
  width: 104px;
  padding: 0 2em;
  background: url(http://d2xzi4fir1vmdf.cloudfront.net/made-at-bw.png) no-repeat center;
}
