.ribbon {
  position: absolute;
  bottom: 3em;
  right: 0;
  font-size: 16px !important;
  background: rgb(181, 166, 48);
  color: white;
  padding: 1em 2em;
}

.ribbon:before {
  content: "";
  position: absolute;
  border: 1.5em solid rgb(156, 143, 48);
  border-left-color: transparent;
  z-index: -1;
  top: -0.5em;
  left: -2em;
}

.ribbon .ribbon-content:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent transparent rgb(137, 122, 26) transparent;
  border-width: 0 0 0.5em 1em;
  top: -0.5em;
  left: 0;
}
