.ribbon {
  font-size: 16px !important;  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
  width: 20%;
  position: absolute;
  background: #ba89b6;
  color: #fff;
  text-align: center;
  padding: 1em 2em; /* Adjust to suit */
  bottom: 3em;
  right: 0;
}

.ribbon:before {
  content: "";
  position: absolute;
  display: block;
  border: 1.5em solid #986794;
  border-left-color: transparent;
  z-index: -1;
  top: -1em;
  left: -2em;
}

.ribbon .ribbon-content:before {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: transparent transparent #804f7c transparent;
  border-width: 0 0 1em 1em;
  top: -1em;
  left: 0;
}
